# **SU2**

In [151]:
fruits = ("Apple","Orange", "Banana") #notice the round brackets

In [18]:
type(fruits)

tuple

In [19]:
fruits

('Apple', 'Orange', 'Banana')

In [20]:
fruits[2] #2 is the index, starts with 0

'Banana'

In [21]:
fruits[-1] #negative index

'Banana'

In [22]:
fruits[0:2] #returns the index 0 , and not the index 2 element

('Apple', 'Orange')

In [23]:
fruits[:2] #starting index assumed to be zero

('Apple', 'Orange')

In [24]:
fruits [1:3]

('Orange', 'Banana')

In [25]:
fruits[1:]

('Orange', 'Banana')

In [26]:
fruits[:] #all the way, beginning to the end

('Apple', 'Orange', 'Banana')

In [27]:
fruits[-3:-1] #negative index, execept -2 index

('Apple', 'Orange')

In [28]:
fruits[-1] #retrieve the last item

'Banana'

In [29]:
fruits[::2] #start to end, increment by 2, every 2 items

('Apple', 'Banana')

## **Immmutability**

In [30]:
fruits[0] = "Avogado"

TypeError: 'tuple' object does not support item assignment

In [31]:
i = 0                         #track fruit number
for e in fruits:              #loop through the fruits tuple
    i+=1                      #increment i
    print(f"Fruit {i} is: {e}") #print out the fruit

Fruit 1 is: Apple
Fruit 2 is: Orange
Fruit 3 is: Banana

In [32]:
# Let's create a tuple that contains information about your pet

    #name, breed, age, weight,isAdopted, Colour
myPet = ("Lilac", "Rabbit", 6, 1.2, False, "Grey")
profPet = ("Crystal", "Mini Poodle", 11, 6.5, True, "Brown")

print (myPet)
print (profPet)

('Lilac', 'Rabbit', 6, 1.2, False, 'Grey')
('Crystal', 'Mini Poodle', 11, 6.5, True, 'Brown')

In [33]:
classPetsTuple = (myPet, profPet)

print(classPetsTuple)

(('Lilac', 'Rabbit', 6, 1.2, False, 'Grey'), ('Crystal', 'Mini Poodle', 11, 6.5, True, 'Brown'))

In [34]:
#retrieve name of Prof's Pet?
print ( classPetsTuple[1] )

print(classPetsTuple[1][0])

('Crystal', 'Mini Poodle', 11, 6.5, True, 'Brown')
Crystal

In [35]:
print (len(classPetsTuple) ) #length of tuples

2

In [36]:
print (len(classPetsTuple[1]) )

6

## **Lists**

In [159]:
fruitsList = ["Apple", "Orange", "Banana"]   # notice the square brackets

print(fruitsList)

['Apple', 'Orange', 'Banana']

## **Subsetting**

In [42]:
rojakList = ["Apple", 3.0, True, fruits]   # a lsit can contain many types of objects

print (rojakList)

['Apple', 3.0, True, ('Apple', 'Orange', 'Banana')]

In [43]:
 # how can i get apple from rojakList
    
rojakList[0]

'Apple'

In [46]:
# how can i get subset of 2nd and 3rd element from rojackList?

rojakList[1:3]

[3.0, True]

In [47]:
# how can i get the tuple from rojakList?

rojakList[-1]

('Apple', 'Orange', 'Banana')

In [51]:
# how can i get only Orange from rojakList?

print ( rojakList[-1][1] ) 
print ( rojakList[-1][-2] )

Orange
Orange

## **Modify List**

In [53]:
print(fruitsList)

['Apple', 'Orange', 'Banana']

In [54]:
type(fruitsList)

list

In [56]:
fruitsList[1] = "Papaya"

print(fruitsList)

['Apple', 'Papaya', 'Banana']

In [57]:
# replace Apple with a list ["aa", "bb", "cc"]

fruitsList[0] = ["aa", "bb", "cc"]

print(fruitsList)

[['aa', 'bb', 'cc'], 'Papaya', 'Banana']

In [63]:
# note that you need to replace list with a list

print (fruitsList[0:1])   # returns a list
print (fruits[0])         # returns a string

#fruitsList[0:1] = 'Apple'   #returns as individual item in list

fruitsList[0:1] = ["Papaya"]

print(fruitsList)

['Apple']
Apple
['Papaya', 'Orange', 'Banana']

## **Concatenate Lists** 
### Adding lists together

In [64]:
vegetablesList = ["Spinach", "Lettuce", "Cabbage"]

vegetablesList

['Spinach', 'Lettuce', 'Cabbage']

In [67]:
print(fruitsList + vegetablesList)   # con

['Apple', 'Orange', 'Banana', 'Spinach', 'Lettuce', 'Cabbage']

### Merging Lists

In [68]:
# how can I merge fruitsList and vegetablesList together?

combinedList = [ fruitsList, vegetablesList ] 

print ( combinedList )

[['Apple', 'Orange', 'Banana'], ['Spinach', 'Lettuce', 'Cabbage']]

In [69]:
len(combinedList)

2

### Looping through Lists

In [70]:
# how to loop through fruitsList

for fruit in fruitsList:
    print(fruit)

Apple
Orange
Banana

In [87]:
# how to loop through all individual elements in combinedList?

for a in combinedList:    #nested loop
    for item in a :
        print(item)

Apple
Orange
Banana
Spinach
Lettuce
Cabbage

### Mini Exercise

In [99]:
# implement what is in the slide

# ask user to enter a guess
# keep all the history of guesses in a list
# quit when user enter -99

historyList = []    #start with an empty list

while True:
    guess = int(input("Enter a guess: "))
    if guess == -99:                          #exit from the loop
        break
    else:                                     #add the guess
        historyList = historyList + [guess]   #concat
        #historyList.append(guess)
print(historyList)

Enter a guess:  3
Enter a guess:  5
Enter a guess:  -99

[3, 5]

## **Dictionaries**

In [100]:
fruitsPrice = {"Apple" : 1.20,
               "Orange" : 0.70,
               "Banana" : 0.90 }

print(fruitsPrice)

{'Apple': 1.2, 'Orange': 0.7, 'Banana': 0.9}

In [101]:
type(fruitsPrice)

dict

In [103]:
#price of apple?

fruitsPrice["Apple"]    #index is the key

1.2

In [104]:
fruitsPrice[0]    #numeric indexing does not work

KeyError: 0

In [106]:
fruitsPrice[0:2]

TypeError: unhashable type: 'slice'

### Printing Dictionaries

In [105]:
# get the keys

fruitsPrice.keys()    # use the keys method

dict_keys(['Apple', 'Orange', 'Banana'])

In [107]:
# get the values

fruitsPrice.values()   # use the values method

dict_values([1.2, 0.7, 0.9])

In [109]:
# get the key-value pairs

fruitsPrice.items()    # use the items method

dict_items([('Apple', 1.2), ('Orange', 0.7), ('Banana', 0.9)])

### Printing Key-Value pairs in dicts

In [114]:
for key, value, in fruitsPrice.items():
    print(key,value)
    
for i in fruitsPrice.items():
    print(i)

Apple 1.2
Orange 0.7
Banana 0.9
('Apple', 1.2)
('Orange', 0.7)
('Banana', 0.9)

In [113]:
for key, value in list(fruitsPrice.items()):     #convert into list
    print(key, value)

Apple 1.2
Orange 0.7
Banana 0.9

### Edit Dictionaries

In [118]:
# change the price of Apple and keep the old price to 120?

old_price = fruitsPrice["Apple"]

fruitsPrice["Apple"] = 120
            
print(fruitsPrice["Apple"])

120

In [119]:
# delete apple fruits price

del fruitsPrice["Apple"]
print(fruitsPrice)

{'Orange': 0.7, 'Banana': 0.9}

In [124]:
# add Pear with a price of 2.2

fruitsPrice["Pear"] = 2.2
print(fruitsPrice)

{'Orange': 0.7, 'Banana': 0.9, 'Pear': 2.2}

### Merge Dictionaries

In [121]:
vegetablesList

['Spinach', 'Lettuce', 'Cabbage']

In [122]:
# create vegePrice dict

vegePrice = { "Spinach" : 3.10,
              "Lettuce" : 2.00,
              "Cabbage" : 3.50 }    #vegetable prices

print(vegePrice)

{'Spinach': 3.1, 'Lettuce': 2.0, 'Cabbage': 3.5}

In [129]:
print( "\t", fruitsPrice, "\n\t", vegePrice)

	 {'Orange': 0.7, 'Banana': 0.9, 'Pear': 2.2}
	 {'Spinach': 3.1, 'Lettuce': 2.0, 'Cabbage': 3.5}

In [128]:
# Merge both dicts

combinedPrice = fruitsPrice | vegePrice

print(combinedPrice)

{'Orange': 0.7, 'Banana': 0.9, 'Pear': 2.2, 'Spinach': 3.1, 'Lettuce': 2.0, 'Cabbage': 3.5}

## **Functions**

In [ ]:
# use the help() function

help(zip)

In [131]:
list( zip((1,2,3), (10,20,30,40)) )

[(1, 10), (2, 20), (3, 30)]

In [ ]:
help(dict)

In [133]:
help(fruitsList.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

## User Defined Functions

In [135]:
# A simple function

def square (x,y):                       # function starts with def and should have an arguement
    result = x**2 + 2*x*y + y**2
    return(result)                      # function should return something

In [136]:
square(3,4)

49

In [160]:
# Create a fucntion to reverse the items in a list

def reverseList (aList): 
    
    newList = aList[::-1]    #start from beginning to end, increment -1
    
    return newList

fruitsList

['Apple', 'Orange', 'Banana']

In [161]:
reverseList(fruitsList)

['Banana', 'Orange', 'Apple']

In [ ]:
help(str)

In [176]:
def countLetters (aString):
    
    lower_count = 0
    upper_count = 0
    
    for char in aString :               #loop through char by char
        if (char.islower()) == True:    #test for uppercase
            lower_count +=1
        
        elif (char.isupper()) == True:  #test for lowercase
            upper_count += 1
    
    return lower_count, upper_count     #return the 2 counts

countLetters("Banana Split is DELICIOUS!")

(11, 11)

## Modules, Packages, Libraries

In [ ]:
!pip3 install pandas

In [181]:
import pandas as pd
import numpy as np