**<font color=blue size=5 face=ARIAL>SU6</font>**

**<font color=green size=3 face=ARIAL> Introduction to SQL and SQLite3 </font>**

In [1]:
# import all the packages
import sqlite3
import pandas as pd
import csv

In [2]:
# example of how to write CSV files
with open("./imported_fruits.csv", mode = "w") as csv_file:
    fieldnames = ["Fruits", "Prices", "Country"]
    writer = csv.DictWriter(csv_file, fieldnames= fieldnames)
    writer.writeheader()
    writer.writerow({"Fruits": "Apple", "Prices": "1.20", "Country": "Russia"})
    writer.writerow({"Fruits": "Banana", "Prices": "0.70", "Country": "Africa"})
    writer.writerow({"Fruits": "Tomato", "Prices": "0.90", "Country": "Portugal"})

In [3]:
# check that we have written the CSV file correctly
f = open("imported_fruits.csv", 'r')
content = f.read()
print(content)

Fruits,Prices,Country

Apple,1.20,Russia

Banana,0.70,Africa

Tomato,0.90,Portugal

In [4]:
# import the csv
imported_fruits = pd.read_csv("imported_fruits.csv")

In [5]:
imported_fruits

   Fruits  Prices   Country
0   Apple     1.2    Russia
1  Banana     0.7    Africa
2  Tomato     0.9  Portugal

In [6]:
# generate a connection; will be created if it doesnt exist
conn = sqlite3.connect('imported_fruits.db')
# generate a cursor object
cur = conn.cursor()

In [7]:
# export to sql database
imported_fruits.to_sql("imported_fruits", con = conn, if_exists='replace')
#Returns: the no. of rows affected by to_sql()

3

In [8]:
# use cursor object to select some entries
cur.execute('select * from imported_fruits').fetchone()

(0, 'Apple', 1.2, 'Russia')

In [9]:
# use cursor object to select all the entries
cur.execute('select * from imported_fruits').fetchall()

[(0, 'Apple', 1.2, 'Russia'),
 (1, 'Banana', 0.7, 'Africa'),
 (2, 'Tomato', 0.9, 'Portugal')]

In [10]:
# commit/save the changes to the sql database
conn.commit()
# close the connection
conn.close()

### Activity 1

**<font color=blue size=2 face=ARIAL> database connection </font>**

In [20]:
conn = sqlite3.connect('Activity1.db')
c = conn.cursor() #So c is now the cursor object

In [11]:
brand = []
model = []  
price = []
satisfaction = []
query = 'yes'
while query == 'yes':
    brand_inputs = input("What is the brand of your car? ")
    model_inputs = input("What is the model of your car? ")
    try:
        price_inputs = int(input("What is the price of your car? "))
    except ValueError:
        print("Your input is not numeric. Please try again.")
    satisfaction_inputs = input("What is your level of satisfaction")
    brand.append(brand_inputs)
    model.append(model_inputs)
    price.append(price_inputs)
    satisfaction.append(satisfaction_inputs)
    #this is where we ask the user if s/he wants to continue
    query = input("Would you like to enter the information for another car? ")
    while query.lower() not in ("yes","no"):
        query = input("Please enter yes or no only ")

What is the brand of your car?  nissan
What is the model of your car?  sunny
What is the price of your car?  100000
What is your level of satisfaction 4
Would you like to enter the information for another car?  y
Please enter yes or no only  audi
Please enter yes or no only  yes
What is the brand of your car?  audi
What is the model of your car?  a4
What is the price of your car?  200000
What is your level of satisfaction 5
Would you like to enter the information for another car?  no

In [12]:
# zip all the inputs (zip: create pandas DataFrame from list)
data = list(zip(brand,model,price,satisfaction))

In [15]:
data

[('nissan', 'sunny', 100000, '4'), ('audi', 'a4', 200000, '5')]

In [16]:
# convert into a pandas df and export to csv
df = pd.DataFrame(data, columns = ['Brand', 'Model', 'Price', 'Satisfaction'])
df.to_csv('car_purchase.csv')

In [17]:
car_purchase = pd.read_csv("car_purchase.csv")

In [18]:
display(car_purchase)

   Unnamed: 0   Brand  Model   Price  Satisfaction
0           0  nissan  sunny  100000             4
1           1    audi     a4  200000             5

**<font color=blue size=2 face=ARIAL> save to database table </font>**

In [21]:
car_purchase.to_sql("car_purchase", con=conn, if_exists='replace')

2

In [22]:
c.execute('select * from car_purchase').fetchall()

[(0, 0, 'nissan', 'sunny', 100000, 4), (1, 1, 'audi', 'a4', 200000, 5)]

**<font color=blue size=2 face=ARIAL> save to database table </font>**

In [23]:
car_model = pd.read_csv("./car_model.csv")

In [25]:
car_price = pd.read_csv("./car_price.csv")

In [26]:
car_model.to_sql("car_model", con=conn, if_exists='replace')

240

In [27]:
car_price.to_sql("car_price", con=conn, if_exists='replace')
#End of Activity 1

240

**<font color=blue size=2 face=ARIAL> perform 1st selection </font>**

In [28]:
#Define sql sentence
sql_query = "select * from car_price"

In [29]:
c.execute(sql_query).fetchone() #c: previous defined cursor object

(0, 2021, 'Acura', 'ILX', None)

In [30]:
c.execute('select * from car_price').fetchone()

(0, 2021, 'Acura', 'ILX', None)

In [31]:
c.execute('select * from car_model').fetchone()

(0, 2021, 'Acura', 'ILX', 'Sedan')

In [32]:
c.execute('select * from car_price').fetchmany(5)

[(0, 2021, 'Acura', 'ILX', None),
 (1, 2021, 'Acura', 'RDX', None),
 (2, 2021, 'Acura', 'TLX', 37500.0),
 (3, 2021, 'Alfa Romeo', 'Giulia', 40350.0),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 42350.0)]

In [33]:
c.execute('select * from car_model').fetchmany(5)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV')]

In [34]:
c.execute("select * from car_model").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (5, 2021, 'Audi', 'A6 allroad', 'Wagon'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV')]

In [35]:
#Save as dataframe
dataframe_example=pd.DataFrame.from_records(data = c.execute("select * from car_model").fetchmany(10))
dataframe_example

   0     1           2           3      4
0  0  2021       Acura         ILX  Sedan
1  1  2021       Acura         RDX    SUV
2  2  2021       Acura         TLX  Sedan
3  3  2021  Alfa Romeo      Giulia  Sedan
4  4  2021  Alfa Romeo     Stelvio    SUV
5  5  2021        Audi  A6 allroad  Wagon
6  6  2021        Audi          A7  Sedan
7  7  2021        Audi          Q3    SUV
8  8  2021        Audi          Q5    SUV
9  9  2021        Audi          Q8    SUV

**<font color=green size=3 face=ARIAL> Data Query </font>**

In [36]:
c.description #c: previous defined cursor object

(('index', None, None, None, None, None, None),
 ('Year', None, None, None, None, None, None),
 ('Make', None, None, None, None, None, None),
 ('Model', None, None, None, None, None, None),
 ('Category', None, None, None, None, None, None))

In [32]:
c.execute("select * from car_model WHERE Year = 2021").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (5, 2021, 'Audi', 'A6 allroad', 'Wagon'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV')]

In [33]:
c.execute("select * from car_model WHERE Model = 'Q3'").fetchmany(10)

[(7, 2021, 'Audi', 'Q3', 'SUV')]

In [34]:
c.execute("select * from car_model ORDER BY Make ASC").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (5, 2021, 'Audi', 'A6 allroad', 'Wagon'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV')]

In [35]:
c.execute("select * from car_model WHERE Year <> 2020 ORDER BY Make ASC").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (5, 2021, 'Audi', 'A6 allroad', 'Wagon'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV')]

### Activity 2

In [36]:
c.execute("select * from car_model WHERE Category = 'Sedan' or Category = 'SUV'").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV'),
 (11, 2021, 'Audi', 'S6', 'Sedan')]

In [37]:
c.execute("select * from car_model WHERE Category in ('Sedan','SUV')").fetchmany(10)

[(0, 2021, 'Acura', 'ILX', 'Sedan'),
 (1, 2021, 'Acura', 'RDX', 'SUV'),
 (2, 2021, 'Acura', 'TLX', 'Sedan'),
 (3, 2021, 'Alfa Romeo', 'Giulia', 'Sedan'),
 (4, 2021, 'Alfa Romeo', 'Stelvio', 'SUV'),
 (6, 2021, 'Audi', 'A7', 'Sedan'),
 (7, 2021, 'Audi', 'Q3', 'SUV'),
 (8, 2021, 'Audi', 'Q5', 'SUV'),
 (9, 2021, 'Audi', 'Q8', 'SUV'),
 (11, 2021, 'Audi', 'S6', 'Sedan')]

In [38]:
c.execute("select * from car_price WHERE Price >=50000").fetchmany(10)

[(5, 2021, 'Audi', 'A6 allroad', 65900.0),
 (6, 2021, 'Audi', 'A7', 69200.0),
 (9, 2021, 'Audi', 'Q8', 68200.0),
 (10, 2021, 'Audi', 'S5', 52500.0),
 (11, 2021, 'Audi', 'S6', 74400.0),
 (15, 2021, 'BMW', 'X5', 59400.0),
 (16, 2021, 'BMW', 'X7', 74900.0),
 (23, 2021, 'Cadillac', 'Escalade', 76195.0),
 (24, 2021, 'Cadillac', 'Escalade ESV', 79195.0),
 (33, 2021, 'Chevrolet', 'Corvette', 59900.0)]

In [39]:
c.execute("select * from car_purchase where Satisfaction = 1").fetchall()

[]

### Activity 3

In [40]:
sql_query = "select * from car_price NATURAL JOIN car_model"

In [41]:
print(c.execute(sql_query).fetchmany(3))

[(0, 2021, 'Acura', 'ILX', None, 'Sedan'), (1, 2021, 'Acura', 'RDX', None, 'SUV'), (2, 2021, 'Acura', 'TLX', 37500.0, 'Sedan')]

In [42]:
#Commit all the changes of the tables to the physical files of the database.
conn.commit()
conn.close()