# SU6 - SQL

In [ ]:
import pandas as pd  # in memory dataframe
import sqlite3       #access SQL database
import csv           # access csv text file

In [ ]:
with open("imported_fruits.csv", mode="w") as csv_file :
    fieldnames = ["Fruits", "Prices", "Country"]
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    
    writer.writerow({"Fruits" : "Apple", "Prices" : "1.20", "Country" : "Russia"})
    writer.writerow({"Fruits" : "Banana", "Prices" : "0.70", "Country" : "Africa"})
    writer.writerow({"Fruits" : "Tomato", "Prices" : "0.90", "Country" : "Portugal"})

In [ ]:
f = open("imported_fruits.csv", mode="r") # f is the file handle
content = f.read()
print(content)
f.close()

In [ ]:
f = open("imported_fruits.csv", mode="r") # f is the file handle
content = f.readlines()

for l in content :
    print(l)
    
#print(content)
f.close()

In [ ]:
# read from a csv file using pandas

imported_fruits = pd.read_csv("imported_fruits.csv")
display(imported_fruits)

In [ ]:
# generate a connection; will be created 

conn = sqlite3.connect("imported_fruits.db")

cur = conn.cursor()

imported_fruits.to_sql("imported_fruits", con = conn, if_exists="replace")

conn.close()

## Retrieve all records from imported fruits db

In [ ]:
conn = sqlite3.connect("imported_fruits.db")
cur = conn.cursor()

# SQL command

sqlcmd = "SELECT * FROM imported_fruits"
#sqlcmd = "SELECT * FROM imported_fruits WHERE Country = 'Africa' "

cur.execute(sqlcmd)

#contents = cur.fetchall()  # fetch all records
contents = cur.fetchone()   # fetch one record

# combine all commands together
#cur.execute("SELECT * from imported_fruits").fetchall()

In [ ]:
contents

In [ ]:
# commit/save the changes to sql database
conn.commit()

# close the connection
conn.close()

## Activity 1

In [39]:
brand_list = []
model_list = []
price_list = []
satisfaction_list = []


while True :
    brand = input("Car Brand:").lower().strip()
    model = input("Car Model:").lower().strip()
    price = input("Car Price:")
    satisfaction = input("Satisfaction level : 1-5:")
    
    #add use inputs to lists
    brand_list.append(brand)
    model_list.append(model)
    price_list.append(price)
    satisfaction_list.append(satisfaction)
    
    resp = input("Continue? y/n:").lower().strip()
    if resp == 'n':
        break
        
print(brand_list, model_list, price_list, satisfaction_list)

Car Brand: toyota
Car Model: a4
Car Price: 220000
Satisfaction level : 1-5: 4
Continue? y/n: y
Car Brand: honda
Car Model: civic
Car Price: 300000
Satisfaction level : 1-5: 5
Continue? y/n: n

['toyota', 'honda'] ['a4', 'civic'] ['220000', '300000'] ['4', '5']

In [41]:
# zip all the columns together - brand, model, price, satisfaction as tuple

data = list(zip(brand_list, model_list, price_list, satisfaction_list))
data

[('toyota', 'a4', '220000', '4'), ('honda', 'civic', '300000', '5')]

In [42]:
# convert this data into a Pandas dataframe

data_df = pd.DataFrame(data, columns=["Brand", "Model", "Price", "Satisfaction"])
data_df

    Brand  Model   Price Satisfaction
0  toyota     a4  220000            4
1   honda  civic  300000            5

In [44]:
# use pandas .to_csv to convert to csv file

data_df.to_csv("car_purchase.csv", index = "False")

In [46]:
# to save to database

conn = sqlite3.connect("car_purchase.db")
cur = conn.cursor()

data_df.to_sql("car_purchase", con = conn, if_exists = 'replace')
conn.close()