### a) State and discuss how to read the dataset with Python and identify the dimensions of the dataset with Python

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

hdb_df = pd.read_csv("GBA_HDB.csv")
display(hdb_df)

In [ ]:
hdb_df.shape

### b) Identify the variables with missing values using Python and discuss why it is necessary to handle missing values

In [ ]:
missing_hdb_df = pd.read_csv("GBA_HDB.csv", na_filter = True)
missing_hdb_df.isnull().sum(axis=0)

### c) Propose ways to treat the missing data with Python and explain rationale(s) of the treatment(s)

In [ ]:
# Drop 1 missing value for street_name field 
# clean1 = missing_hdb_df.dropna(subset=["street_name"])
# clean1

clean1 = missing_hdb_df.drop(['street_name'], axis=1)
display(clean1)

In [ ]:
clean1.isnull().sum()

### fill the flat type using highest occuring flat type according to floor area sqm

In [ ]:
clean2 = pd.DataFrame(clean1)
clean2['flat_type'] = clean1.groupby(['floor_area_sqm'])['flat_type'].transform(lambda x: x.fillna(x.mode().iloc[0]))


display(clean2)

In [ ]:
# ensure missing flat types are filled
clean2.isnull().sum()

### fill the missing resale price using mean of each flat type

In [ ]:
# Calculate the mean resale price for each flat type
mean_prices = clean2.groupby('flat_type')['resale_price'].transform('mean')

# Fill missing resale price values using the calculated means
clean2['resale_price'].fillna(mean_prices, inplace=True)

# Print the updated DataFrame
display(clean2)

In [ ]:
clean2.isnull().sum()

## Plotting graphs

In [ ]:
price_sqm = clean2[["resale_price", "floor_area_sqm"]]
display(price_sqm)

In [ ]:
plt.scatter(price_sqm["floor_area_sqm"], price_sqm["resale_price"], 
            color = "red", marker = "^", 
            alpha = 0.3, edgecolors = "face",
            s = 60)

plt.xlabel("Floor area (SQM)")
plt.ylabel("Resale Price")
plt.title("Scatter Plot of Floor area (SQM) and Resale Price")
plt.show()

In [ ]:
# mean of resale price for the diff town

mean_price_town = clean2.groupby('town')['resale_price'].mean().reset_index()
display(mean_price_town)

plt.barh(mean_price_town["town"], 
        mean_price_town["resale_price"], 
        color ='green')
 
plt.xlabel("Mean values of resale price")
plt.xticks(fontsize=8)
plt.ylabel("Town")
plt.yticks(fontsize=8)
plt.tight_layout()
plt.title("Mean of resale price of different towns")
           
plt.show()

In [ ]:
count_flat_type = clean2['flat_type'].value_counts().reset_index()
count_flat_type.columns = ['flat_type', 'count']
display(count_flat_type)

In [ ]:
# Table for flat type and count of each flat type
count_flat_type = clean2['flat_type'].value_counts().reset_index()
count_flat_type.columns = ['flat_type', 'count']
display(count_flat_type)

In [ ]:
# mean of resale price for the diff town

mean_flat = clean2.groupby('flat_type')['resale_price'].mean().reset_index()
display(mean_flat)

plt.barh(mean_mean_flat["flat_Type"], 
        mean_flat["resale_price"], 
        color ='green')
 
plt.xlabel("Mean values of resale price")
plt.xticks(fontsize=8)
plt.ylabel("Town")
plt.yticks(fontsize=8)
plt.tight_layout()
plt.title("Mean of resale price of flat type")
           
plt.show()

In [ ]:
"' Select duplicate rows of all columns
df2 = missing_hdb_df[missing_hdb_df.duplicated()]
display(df2) "'

In [ ]:
# mean of resale price for the diff town

mean_flat = clean2.groupby('flat_type')['resale_price'].mean().reset_index()
display(mean_flat)

plt.barh(mean_flat["flat_type"], 
        mean_flat["resale_price"], 
        color ='green')
 
plt.xlabel("Mean values of resale price")
plt.xticks(fontsize=8)
plt.ylabel("Town")
plt.yticks(fontsize=8)
plt.tight_layout()
plt.title("Mean of resale price of flat type")
           
plt.show()

In [ ]:
plt.figure(figsize=(20, 6))
clean2.boxplot(column='resale_price', by='flat_type')
plt.title('Resale Price Distribution by Storey Range')
plt.xlabel('Flat Type')
plt.ylabel('Resale Price')
plt.xticks(rotation=45)
plt.show()